In [13]:
import pandas as pd

In [14]:
path =('/home/boyking/project /Rainfall_Flood/sourceCode/data/Godavari.xlsx')

In [15]:
y=path()

TypeError: 'str' object is not callable

In [12]:
y.head()

NameError: name 'y' is not defined

In [11]:
data.head(3)

        Date  Discharge  flood runoff  daily runoff  weekly runoff  Flood
0 1998-01-01     3244.0           0.0          0.91            NaN    0.0
1 1998-01-02     1591.0           0.0          0.45            NaN    0.0
2 1998-01-03     1973.0           0.0          0.55            NaN    0.0

In [8]:
y.head

<bound method NDFrame.head of            Date  Discharge  flood runoff  daily runoff  weekly runoff  Flood
0    1998-01-01     3244.0          0.00          0.91            NaN    0.0
1    1998-01-02     1591.0          0.00          0.45            NaN    0.0
2    1998-01-03     1973.0          0.00          0.55            NaN    0.0
3    1998-01-04     1973.0          0.00          0.55            NaN    0.0
4    1998-01-05     2011.0          0.00          0.56            NaN    0.0
...         ...        ...           ...           ...            ...    ...
7665 2018-12-27    10748.0          0.00          3.01          29.32    0.0
7666 2018-12-28    12275.0          0.00          3.43          27.19    0.0
7667 2018-12-29    11629.0          0.00          3.25          25.30    0.0
7668 2018-12-30    14021.0          0.00          3.92          24.70    0.0
7669 2018-12-31    20235.0          6.44          5.66          26.89    1.8

[7670 rows x 6 columns]>